.movies {
  padding: 0 70px;
  min-height: calc(100vh - 246px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .movies {
    padding: 0 10px;
  }
}
